button {
  box-sizing: border-box;
  padding: 16px 20px;
  border-radius: 5px;
  border: 1px solid #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 10px;
}

.light {
  background-color: #fff;
}

.dark {
  color: #fff;
  background: #222222;
}
