.task-container {
    margin: 12px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 24px 20px 27px;
    display: flex;
    justify-content: space-between;
}

.btn-remove {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #3056d3;
    color: #3056d3;
    font-size: 18px;
    background: #fff;
    cursor: pointer;
}

.task {
    display: flex;
    gap: 24px;
    align-items: center;

}

.checkbox {
    margin: 0;
    position: relative;
}

.checkbox:before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: -6px;
    border: 1px solid #637381;
    border-radius: 4px;
}

.checkbox:checked.checkbox:before{
    background: #F1F4FF;
    border: 1px solid #3056D3;
}

.task-description{
    text-transform: capitalize;
}