.container {
  max-width: 756px;
  margin: 48px auto;
}


.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  margin: 24px 0;
}

.search {
  box-sizing: border-box;
  width: 756px;
  /* height: 42px; */

  padding: 0 24px;
  margin: 24px 0;
  /* White */

  background: #ffffff;
  /* Stroke */

  border: 1px solid #e7e7e7;
  border-radius: 40px;
  position: relative;
}

.input {
  width: 100%;
  border: none;
  border-radius: 40px;
  outline: none;
  padding: 10px 0;
  font-size: 14px;
  line-height: 20px;
  color: #637381;
}

.btn-add {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #3056d3;
  color: #3056d3;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 8px;
}
